$base-color: hsl(210,30%,23%);
$bg-color-dark: darken($base-color, 10%);
// $text-color: lighten($base-color, 50%);
$text-color: hsl(210, 30%, 83%);
$title-color: lighten($base-color, 20%);
$answer-text-color: lighten($base-color,70%);
$answer-bg-color: darken($base-color, 15%);
$options-bg-color: lighten($base-color,20%);
$options-bg: linear-gradient($options-bg-color,darken($options-bg-color,10%));
$options-border-color: lighten($base-color, 7%);
$options-label-bg-color: none;
$options-label-text-color: darken($options-bg-color,30%);
$options-label-hover-bg-color: lighten($options-bg-color,15%);
$options-label-selected-bg-color: darken($options-bg-color,15%);
$options-label-selected-text-color: lighten($options-bg-color,15%);
$score-and-last-color: darken($text-color,15%);
$title-font: 200 1em 'Helvetica Neue';
$correct-text-color: hsl(100,50%,60%);
$incorrect-text-color: hsl(0,50%,50%);

@mixin vertical-align($distance) {
  top: $distance;
  -webkit-transform: translateY(-$distance);
  -ms-transform: translateY(-$distance);
  transform: translateY(-$distance); 
}

@mixin horizontal-align($distance) {
  left: $distance;
  -webkit-transform: translateX(-$distance);
  -ms-transform: translateX(-$distance);
  transform: translateX(-$distance); 
}

html, body {
  height: 100%;
}

body {
  color: $text-color;
  background-color: $base-color;
  background: linear-gradient($base-color,darken($base-color,15%));
  overflow: hidden;
  text-rendering: geometricPrecision;
}

a:link, a:visited, a:active {
  color: $title-color;
  text-decoration: none;
}

a:hover {
  color: lighten($title-color, 20%);
}


.page-wrapper {
  padding: 0px 0 50px 0;
  text-align: center;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.7em;
  padding-top: 0.3em;
  background-color: #111;
  font: $title-font;
  color: $title-color;
}

#title-wrapper {
  display: block;
  background-color: $bg-color-dark;
  position: fixed;
  width: 100%;
  height: 2em;
  top: 0;
  font: $title-font;
  color: $title-color;
}

h1 {
  position: relative;
  @include vertical-align(50%);
}

#timedebug {
  position: absolute;
  left: 20px;
  bottom: 40px;
}


#options-container {
  position: absolute;
  @include vertical-align(45%);
  left: 0;
  padding: 10px;
  background-color: $options-bg-color;
  background: $options-bg;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font: bold 18px 'Helvetica Neue';
  border-top: 3px solid $options-border-color;
  border-right: 3px solid $options-border-color;
  border-bottom: 3px solid $options-border-color;
  color: $options-label-text-color;
  z-index: 100;
  input[type="radio"] {
    display: none;
  }
  label {
    display: inline-block;
    background-color: $options-label-bg-color;
    width: 29px;
    padding: 3px 0 2px 0;
    font-family: Arial;
    font-size: 20px;
    margin: 5px 5px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      transition: background-color 0.3s, color 0.3s;
      background-color: $options-label-hover-bg-color;
    }
  }
  input[type="radio"]:checked + label {
    transition: background-color 0.3s, color 0.3s;
    background-color: $options-label-selected-bg-color;
    color: $options-label-selected-text-color;
  }
}

#question,
#question-next-1,
#question-next-2,
#question-next-3,
#question-next-4,
#question-next-fade-in {
  position: absolute;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

#question-next-4,
#question-next-fade-in {
  @include vertical-align(19%);
  @include horizontal-align(50%);
  font-size: 1em;
  color: transparent;
  text-shadow: 0 0 3px $text-color;
  opacity: 0.1;
}

#question-next-3 {
  @include vertical-align(20%);
  @include horizontal-align(50%);
  font-size: 1.25em;
  color: transparent;
  text-shadow: 0 0 3px $text-color;
  opacity: 0.2;
}

#question-next-2 {
  @include vertical-align(21%);
  @include horizontal-align(50%);
  font-size: 1.73em;
  color: transparent;
  text-shadow: 0 0 3px $text-color;
  opacity: 0.2;
}

#question-next-1 {
  @include vertical-align(23%);
  @include horizontal-align(50%);
  font-size: 2.75em;
  color: transparent;
  // color: $text-color;
  text-shadow: 0 0 3px $text-color;
  opacity: 0.2;
}

#question {
  @include vertical-align(25%);
  @include horizontal-align(50%);
  font-size: 7em;
  margin: 0 0 50px 0;
  line-height: 100%;

  // text-shadow: 0 0 5px hsl(210, 30%, 83%);
}

#question,
#answer {
  display: block;
  /*width: 400px;*/
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#answer {
  display: block;
  position: fixed;
  width: 200px;
  @include vertical-align(45%);
  @include horizontal-align(50%);
  z-index: 50;
  border-radius: 10px;
  border: none;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
  outline: none;
  background-color: $answer-bg-color;
  padding: 10px;
  font-size: 3em;
  color: $answer-text-color;
}

#correct,
#incorrect {
  font: bold 40px 'Helvetica Neue';
  text-align: center;
  position: absolute;
  @include vertical-align(63%);
  @include horizontal-align(50%);
}

#correct {
  color: $correct-text-color;
  opacity: 0;
}

#incorrect {
  color: $incorrect-text-color;
  opacity: 0;
  transition: opacity 1s;
}

#score,
#score-label,
#lastproblem,
#lastproblem-label,
#timedebug2,
#timedebug2-label {
  position: absolute;
  font: bold 14px 'Helvetica Neue';
}

#score-label,
#lastproblem-label,
#timedebug2-label {
  left: 10px;
}

#score-label, #score {
  top: 40px;
}

#lastproblem-label, #lastproblem {
  top: 65px;
}

#timedebug2, #timedebug2-label {
  top: 90px;
}

#score,
#lastproblem,
#timedebug2 {
  left: 65px;
  color: $score-and-last-color;
}







