html, body {
  height: 100%; }

body {
  color: #c7d4e1;
  background-color: #293b4c;
  background: linear-gradient(#293b4c, #0e141b);
  overflow: hidden;
  text-rendering: geometricPrecision; }

a:link, a:visited, a:active {
  color: #4d6e8f;
  text-decoration: none; }

a:hover {
  color: #84a1bd; }

.page-wrapper {
  padding: 0px 0 50px 0;
  text-align: center;
  height: 100%; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.7em;
  padding-top: 0.3em;
  background-color: #111;
  font: 200 1em "Helvetica Neue";
  color: #4d6e8f; }

#title-wrapper {
  display: block;
  background-color: #17212b;
  position: fixed;
  width: 100%;
  height: 2em;
  top: 0;
  font: 200 1em "Helvetica Neue";
  color: #4d6e8f; }

h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#timedebug {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 40px; }

#options-container {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
  left: 0;
  padding: 10px;
  background-color: #4d6e8f;
  background: linear-gradient(#4d6e8f, #3b546d);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font: bold 18px 'Helvetica Neue';
  border-top: 3px solid #364c63;
  border-right: 3px solid #364c63;
  border-bottom: 3px solid #364c63;
  color: #17212b;
  z-index: 100; }
  #options-container input[type="radio"] {
    display: none; }
  #options-container label {
    display: inline-block;
    background-color: none;
    width: 29px;
    padding: 3px 0 2px 0;
    font-family: Arial;
    font-size: 20px;
    margin: 5px 5px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s; }
    #options-container label:hover {
      transition: background-color 0.3s, color 0.3s;
      background-color: #7494b4; }
  #options-container input[type="radio"]:checked + label {
    transition: background-color 0.3s, color 0.3s;
    background-color: #32475d;
    color: #7494b4; }

#question,
#question-next-1,
#question-next-2,
#question-next-3,
#question-next-4,
#question-next-fade-in {
  position: absolute;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden; }

#question-next-4,
#question-next-fade-in {
  top: 19%;
  -webkit-transform: translateY(-19%);
  -ms-transform: translateY(-19%);
  transform: translateY(-19%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1em;
  color: transparent;
  text-shadow: 0 0 3px #c7d4e1;
  opacity: 0.1; }

#question-next-3 {
  top: 20%;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.25em;
  color: transparent;
  text-shadow: 0 0 3px #c7d4e1;
  opacity: 0.2; }

#question-next-2 {
  top: 21%;
  -webkit-transform: translateY(-21%);
  -ms-transform: translateY(-21%);
  transform: translateY(-21%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.73em;
  color: transparent;
  text-shadow: 0 0 3px #c7d4e1;
  opacity: 0.2; }

#question-next-1 {
  top: 23%;
  -webkit-transform: translateY(-23%);
  -ms-transform: translateY(-23%);
  transform: translateY(-23%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 2.75em;
  color: transparent;
  text-shadow: 0 0 3px #c7d4e1;
  opacity: 0.2; }

#question {
  top: 25%;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 7em;
  margin: 0 0 50px 0;
  line-height: 100%; }

#question,
#answer {
  display: block;
  /*width: 400px;*/
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

#answer {
  display: block;
  position: fixed;
  width: 200px;
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 50;
  border-radius: 10px;
  border: none;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: #0e141b;
  padding: 10px;
  font-size: 3em;
  color: #e8edf3; }

#correct,
#incorrect {
  font: bold 40px 'Helvetica Neue';
  text-align: center;
  position: absolute;
  top: 63%;
  -webkit-transform: translateY(-63%);
  -ms-transform: translateY(-63%);
  transform: translateY(-63%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

#correct {
  color: #88cc66;
  opacity: 0; }

#incorrect {
  color: #bf4040;
  opacity: 0;
  transition: opacity 1s; }

#score,
#score-label,
#lastproblem,
#lastproblem-label,
#timedebug2,
#timedebug2-label {
  position: absolute;
  font: bold 14px 'Helvetica Neue'; }

#score-label,
#lastproblem-label,
#timedebug2-label {
  left: 10px; }

#score-label, #score {
  top: 40px; }

#lastproblem-label, #lastproblem {
  top: 65px; }

#timedebug2, #timedebug2-label {
  top: 90px; }

#score,
#lastproblem,
#timedebug2 {
  left: 65px;
  color: #95adc6; }
